@page "/"
@using Syncfusion.Blazor.Inputs
@using System.IO

<h1>Hello, SfUploader!</h1>

@*https://www.syncfusion.com/kb/11614/how-to-upload-files-to-the-server-with-the-blazor-file-upload-component?fbclid=IwAR0l7JZc1mdwZTGEuMN9SAw-6AHpOQEMT7tulNqB6pzsOVUb3KeKN6twr2o*@

@*public async Task HandleValidSubmit()
    {
        await this.UploadObj.Upload(); // Upload the selected file manually
    }*@
<SfUploader AutoUpload="false" AllowedExtensions=".png, .jpg, .jpeg">
    <UploaderEvents ValueChange="OnChange"></UploaderEvents>
</SfUploader>

<img src="@imageSource" width="320" />

@code {

    string imageSource = "";
    private void OnChange(UploadChangeEventArgs args)
    {
        foreach (var file in args.Files)
        {
            string imageFilename = Guid.NewGuid().ToString() +
                $".{file.FileInfo.Type}";
            var pathImage = Path.Combine(Directory.GetCurrentDirectory(), "Images", imageFilename);
            imageSource = $"Images/{imageFilename}";

            FileStream filestream = new FileStream(pathImage, FileMode.Create, FileAccess.Write);
            file.Stream.WriteTo(filestream);
            filestream.Close();
            file.Stream.Close();
        }
    }
}